*{
    box-sizing: border-box;
}
div.produkt{
    width: 500px;
    background-color: white;
    border: 1px solid gray;
    margin: 50px auto;
    padding:20px;
    position: relative;
    display:flow-root ;

}
div.Promo-Tag{
    position: absolute;
    top: -15;
    left: 20px;
    padding: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
}
div.Foto{
width: 100px;
height: 150px;
background-color: gray;
float: left;
margin-right: 20px;
margin-bottom: 10px;
}

div.cena-bar{
    background-color: green;
    color: white;
    text-align: center;
    clear: both;
    text-align: right;
}