span {
    background-color: yellow;
    width: 100px;
    height: 200px;

}

strong {
    background-color: blue;
    color: white;
    display: inline-block;
}

em {
    background-color: red;
    display: inline-block;
}

a {
    background-color: green;
    color: white;
}

div.red {
    background-color: red;
    width: 100px;
    height: 100px;

}

div.yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;

}

div.green {
    background-color: green;
    width: 100px;
    height: 100px;
}

div.blue {
    background-color: blue;
}

div.violet {
    background-color: violet;
}

div.brown {
    background-color: brown;
}

.inline-block {
    display: inline-block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border: 2px solid black;
    padding: 10px;
}

.pusty {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: lightgray;
}

li {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lightgray;
}