p {font-size: 16px; color: black;}
.opis {margin: 10px 0;}
#kontener {background: #f5f5f5 ; padding: 20px; border-radius: 6px;}
.wazne {color: red; font-weight: bold;}
input[type="password"] { border: 2px solid red;}

a:hover {color: orange; text-decoration: none;}
p::first-line{font-weight: bold;}

h1 , h2 , h3 {color: navy; margin-bottom: 8px;}

#kontener p{line-height: 1.5;}
#kontener > h2{text-decoration: underline;}
h2 + p {color: green;}
h2 ~ p {font-style: italic;}