body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    padding: 30px;
    border: 2px solid black;
}

h1 {
    color: #333;
}

.box {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 5px solid navy;
    margin: 30px auto;
    line-height: 100px;
    color: #002244;
    font-weight: bold;
}

.percent-box {
    background-color: lightcoral;
    width: 50%;
    height: 100px;
    padding: 10px;
    border: 3px solid darkred;
    margin: 20px auto;
    line-height: 100px;
    color: white;
    font-weight: bold;
}

.viewport-box {
    background-color: lightgreen;
    width: 50vw;
    height: 20vh;
    padding: 10px;
    border: 3px solid darkgreen;
    margin: 20px auto;
    color: darkgreen;
    line-height: 20vh;
    font-weight: bold;
}