body {
    background-color: rgb(240, 215, 171);
}

body {
    background-image: url(obrazy/image2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1,
h2 {
    color: rgb(245, 239, 233);
    text-align: center;
}

p {
    color: #FFFAF0;
    text-align: center;
    font-size: 18px;
}

div {
    width: 100px;
    height: 100px;
    margin-left: 80%;
}

div.GRADIENT {
    background-image: linear-gradient(TO BOTTOM RIGHT, #6f4e37, #c2b280);
}

div.COLOR {
    background-color: #FFFAF0;
}

div.IMAGE {
    background-image: url(obrazy/image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}