body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 24px;
    color: red;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 120%;
}

#italic {
    font-style: italic;
}

#lower {
    text-transform: lowercase;
}

#upper {
    text-transform: uppercase;
}

#capitalize {
    text-transform: capitalize;
}

#under {
    text-decoration: underline;
}

#over {
    text-decoration: overline;
}

#line-trough {
    text-decoration: line-through;
}

#wavy-green {
    text-decoration-color: green;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 5px;
}

#pink-dashed {
    text-decoration: pink dashed overline;
}

#purple-double {
    text-decoration: underline purple double 3px;
}

#navy-dotted {
    text-decoration: dotted navy line-through 5px;
}

#link {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

#space {
    line-height: 40px;
}

#indent {
    text-indent: 50px;
}

#letter {
    letter-spacing: 10px;
}

#word {
    word-spacing: 20px;
}

#shadows {
    width: 80%;
    margin: 30px auto;
    border: solid 2px pink;
    box-shadow: 10px 10px 20px lightpink;
}

#stopka {
    height: 50px;
}

#yellow-shadow {
    text-shadow: 10px 10px 10px yellow;
}

#green-shadow {
    text-shadow: 8px -8px green;
}

#blue-shadow {
    text-shadow: -10px 10px 3px blue;
}

#grey-shadow {
    text-shadow: 0px 5px 5px grey;
}

#purple-shadow {
    text-shadow: 0px 0px 5px purple;
}