div.kontener {
    position: relative;
    width: 250px;
    height: 30px;
    background-color: azure;
}

div.przycisk {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 30px;
    background-color: white;
    border: 1px solid gray;
    color: black;
    line-height: 30px;
    text-align: center;
    z-index: 2;
}

div.cień {
    position: absolute;
    top: 4px;
    left: 2px;
    width: 250px;
    height: 30px;
    background-color: lightgrey;
    border: 1px solid gray;
    color: black;
    line-height: 30px;
    text-align: center;
    z-index: 1;
}
div.przycisk:active{top: 4px;}