div.wrapper{margin: 30px auto;
font-size: 24px;
display: inline-block;
position: relative;}
div.wrapper:hover span.tooltip{display: block;}
span.tooltip{
    display: none;
    position: absolute;
    top: -30px;
border: 1px solid black;
background-color: blueviolet;
color: gold;
font-size: smaller;
width: 150%;
text-align: center;
font-weight: bold;}