* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
    padding: 5px;
    border: 15px solid rgb(220, 230, 249);
}

p {
    color: black;
    text-align: center;
}

#zero {
    margin: 10px;
    padding: 10px;
}

.logo {
    margin: 0;
    font-size: 28px;
    text-transform: uppercase;
    color: navy;
}

span {
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 125, 0.5);
}

span,
.logo {
    font-family: 'Courier New', Courier, monospace;
}

.thin {
    font-weight: 200;
    font-size: 32px;
    letter-spacing: 3px;
}

.fat {
    font-weight: 900;
    font-size: 36px;
}

#border {
    margin: 10px auto;
    padding: 10px;
    border-top: 3px double navy;
    border-bottom: 1px solid navy;
    font-size: larger;
}
.b-sh{margin: 20px auto;
padding: 5px 30px;
width: 70%;
max-height: 400px;
border: 2px solid navy;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
background-color: rgb(220, 230, 239);}